{% load static %}
<!DOCTYPE html>
<html lang="en">
<div class="min-vh-100 d-flex flex-column justify-content-between">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% if title %}
            <title>Blog App - {{ title }}</title>
        {% else %}
            <title>Blog App</title>
        {% endif %}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static '/main.css' %}" rel="stylesheet" />
        <link href="{% static '/detail.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container">
                <a class="navbar-brand" href=" {% url 'blog-home' %} ">Django Blog App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'blog-home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'blog-about' %}">About</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'blog-create' %}">Create Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href=" {% url 'profile' %} ">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href=" {% url 'logout' %} ">Logout</a></li>
                        {% endif %}
                        {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href=" {% url 'login' %} ">Login</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href=" {% url 'register' %} ">Register</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Flash Messages Starts-->
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <!-- Flash Messages Ends-->

        {% comment %} Header Starts {% endcomment %}

        {% block header %}{% endblock header %}

        {% comment %} Header Ends {% endcomment %}

        <!-- Page content-->
        {% block content %}
          
        {% endblock content %}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</div>
</html>
