{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="container px-5">
        <div class="content-section">
            <h1>Create New Blog</h1> <hr>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="title">Title</label>
                  {% render_field form.title class+="form-control" %}
                </div>
                <div class="form-group">
                  <label for="title">Content</label>
                  {% render_field form.content class+="form-control" %}
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Post</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}